@import '../../styles/mixin.scss';


.header{
    position: absolute;
    height: 120px;
    max-height: 120px;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.2s ease-in-out;
    &_stick{
        position: fixed;
        background: #FFFFFF;
        box-shadow: 0 0 20px 2px rgb(196, 196, 196);
        height: 60px;
    }
    @media screen and (max-width: 768px) {
        .logo, .call_back, .bin{
            display: none;
        }
    }
    .logo{
        display: flex;
        align-items: center;
        span{
            padding-left: 15px;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
    .bin{
        position: relative;
        .bin_content{
            font-family: 'Raleway';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            font-size: 9px;
            right: -10px;
            top: -10px;
            background: #998E78;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }
    .call_back{
        @media screen and (max-width: 576px) {
            @include adaptiv("width", 200, 100);
            span{
                display: none;
            }
        }
        width: 200px;
        >*{
            cursor: pointer;
        }
        display: flex;
        gap: 10px;
    }
    .main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }
  
}