@import '../../styles/mixin.scss';

.title{
    display: flex;
    flex-direction: column;
    gap: 25px;
    @include adaptiv("margin-bottom", 200, 30);
    .last_link{
        color: #909090;
    }
}

.main{
    @include adaptiv("margin-top", 280, 120);
}


.product_table{
    width: 100%;
    .table_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 1px solid #CCCCCC;
        gap: 15px;
        :first-child{
            width: 700px;
        }
    }
    .table_body{
        display: flex;
        flex-direction: column;
        margin: 50px 0;
        gap: 50px;
        .one_item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .item_info{
                width: 700px;
            }
        }
    }
    .item_info{
        display: flex;
        align-items: center;
        gap: 40px;
        height: 180px;
    }
    .img{
        max-width: 125px;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.delete_item{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.manage_panel{
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 90px;
}
.coupons{
    display: flex;
    gap: 15px;
    width: 50%;
    align-items: end;
    :first-child{
        max-width: 255px;
    }
}

.buy_all{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    height: 70px;
    @include adaptiv("margin-bottom", 130, 30);
    &>*{
        height: 100%;
    }
    .total{
        background: $bg_second;
        height: 100%;
        width: 300px;
        max-width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        font-size: 25px;
    }
}